<%
%>

<header class="app-header">
  <%- create_responsive_img('/images/banner.jpg', { class: 'banner', alt: 'banner' }) %>

  <section class="description">
    <a class="avatar" href="<%- theme.homepage %>">
      <img src="<%- url_for(theme.avatar) %>" alt="avatar" />
    </a>
    <h1 class="title"> <%- config.title %> </h1>
    <h3 class="subtitle"> <%- config.subtitle %> </h3>
  </section>

  <ul class="social-list">
    <% if (theme.social.github){ %><a href="<%- theme.social.github %>">GitHub</a><% } %>
    <% if (theme.social.mastodon){ %><a href="<%- theme.social.mastodon %>">Mastodon</a><% } %>
    <% if (theme.social.bluesky){ %><a href="<%- theme.social.bluesky %>">Bluesky</a><% } %>
    <% if (theme.social.scuttlebutt){ %><a href="<%- theme.social.scuttlebutt %>">Scuttlebutt</a><% } %>
    <% if (theme.social.twitter){ %><a href="<%- theme.social.twitter %>">Twitter</a><% } %>
  </ul>
</header>
