<head>
  <meta charset="utf-8">
  <title>
    <% if (page.title){ %><%= page.title %> | <% } %>
    <%= config.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="<%- url_for(theme.favicon) %>">

  <% if (page.title) { %>
  <meta property="og:title" content="<%= page.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="en_US" />
  <%  if (page.excerpt) { %>
  <meta property="og:description" content="<%= page.description %>" />
  <% } %>
  <% if (page.image) { %>
  <meta property="og:image" content="<%= config.url %><%= page.image %>" />
  <% } %>
  <meta property="og:url" content="<%= page.permalink %>" />
  <% } %>

  <%- css('css/app') %>

  <% if (theme.matomo) { %>
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="<%= theme.matomo.url %>/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '<%= theme.matomo.site_id %>']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
  <% } %>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
