<div class="sharing grid">
  <section class="profile grid-item grid">
    <a href="<%- config.root %>">
      <img class="avatar" src="<%- url_for(theme.avatar) %>" alt="avatar" />
    </a>
    <div class="grid-item">
      <a href="<%- config.root %>">
        <p class="title"> <%- config.title %> </p>
      </a>
      <p class="subtitle"> <%- config.subtitle %> </p>
    <div>
  </section>

  <section class="share-btns">
    <p> share if you like~ </p>
  </section>
</div>
